$theme1: #00a2ff; // Blue
$theme2: #ffffff; // White
$theme3: #ffd800; // Yellow
$theme4: #14284e; // Dark Blue
$theme5: #b3d6ff; // Greyish Blue
$text1:  #00a3fe; // Blue
$text2:  #ffffff; // White
$text3:  #14284e; // Dark Blue
$text4:  #1c325f; // Light Dark Blue

$red:    #c02937;
$green:  #009344;
$purple: #a12767;